 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:8pt Calibri, sans-serif; }
 .font1 { font:8pt Courier New, monospace; }
 .font2 { font:9pt Georgia, serif; }
 .font3 { font:12pt Impact, sans-serif; }
 .font4 { font:7pt Microsoft Sans Serif, sans-serif; }
 .font5 { font:8pt Microsoft Sans Serif, sans-serif; }
 .font6 { font:9pt Microsoft Sans Serif, sans-serif; }
 .font7 { font:10pt Microsoft Sans Serif, sans-serif; }
 .font8 { font:11pt Microsoft Sans Serif, sans-serif; }
 .font9 { font:16pt Microsoft Sans Serif, sans-serif; }
 .font10 { font:25pt Microsoft Sans Serif, sans-serif; }
 .font11 { font:5pt Times New Roman, serif; }
 .font12 { font:6pt Times New Roman, serif; }
 .font13 { font:8pt Times New Roman, serif; }
 .font14 { font:9pt Times New Roman, serif; }
 .font15 { font:10pt Times New Roman, serif; }
 .font16 { font:11pt Times New Roman, serif; }
 .font17 { font:12pt Times New Roman, serif; }
 .font18 { font:13pt Times New Roman, serif; }
 .font19 { font:14pt Times New Roman, serif; }
 .font20 { font:6pt Verdana, sans-serif; }
 .font21 { font:9pt Verdana, sans-serif; }
 .font22 { font:48pt Verdana, sans-serif; }
