 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:14pt AngsanaUPC, serif; }
 .font1 { font:4pt FrankRuehl, serif; }
 .font2 { font:9pt Georgia, serif; }
 .font3 { font:11pt Impact, sans-serif; }
 .font4 { font:11pt Microsoft Sans Serif, sans-serif; }
 .font5 { font:18pt Microsoft Sans Serif, sans-serif; }
 .font6 { font:7pt Segoe UI, sans-serif; }
 .font7 { font:8pt Segoe UI, sans-serif; }
 .font8 { font:10pt Segoe UI, sans-serif; }
 .font9 { font:11pt Segoe UI, sans-serif; }
 .font10 { font:14pt Segoe UI, sans-serif; }
 .font11 { font:8pt Tahoma, sans-serif; }
 .font12 { font:9pt Tahoma, sans-serif; }
 .font13 { font:10pt Tahoma, sans-serif; }
 .font14 { font:11pt Tahoma, sans-serif; }
 .font15 { font:12pt Tahoma, sans-serif; }
 .font16 { font:13pt Tahoma, sans-serif; }
 .font17 { font:14pt Tahoma, sans-serif; }
 .font18 { font:15pt Tahoma, sans-serif; }
 .font19 { font:16pt Tahoma, sans-serif; }
 .font20 { font:17pt Tahoma, sans-serif; }
 .font21 { font:22pt Tahoma, sans-serif; }
 .font22 { font:23pt Tahoma, sans-serif; }
 .font23 { font:7pt Times New Roman, serif; }
 .font24 { font:8pt Times New Roman, serif; }
 .font25 { font:9pt Times New Roman, serif; }
 .font26 { font:11pt Times New Roman, serif; }
 .font27 { font:12pt Times New Roman, serif; }
 .font28 { font:14pt Times New Roman, serif; }
 .font29 { font:15pt Times New Roman, serif; }
